<configuration scan="false">
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm.ss.SSS} %-5level %logger{32} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>messages.log</file>
        <append>false</append>
        
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        
        <encoder>
            <pattern>%d{HH:mm.ss.SSS} %-5level %logger{32} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="FILE_ERROR" class="ch.qos.logback.core.FileAppender">
        <file>errors.log</file>
        <append>false</append>
        
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        
        <encoder>
            <pattern>%d{HH:mm.ss.SSS} %-5level %logger{32} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <root level="ALL">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="FILE_ERROR"/>
    </root>
    
</configuration>